//
// Main SASS file
// --------------------------------------------------------

// Imports
@import "variables";

// Bower Components
@import "../../bower_components/susy/sass/susy"; //


body{
  font-family: "Helvetica";
  text-align: center;
  padding: 50px 20px 0;
  background: #6c6c6c;
  color: #f4f4f7;
  margin: 0;
}

h1{
  font-size: 65px;
  line-height: 1.2em;
  //border-bottom: #CCC solid 1px;
  padding: 20px 0;
}

h3{
  font-weight: 300;
}

a{
  color: #EA5455;
  text-decoration: none;
}
