//
// Main SASS file
// --------------------------------------------------------

// Imports
@import "variables";

// Bower Components
@import "../../bower_components/susy/sass/susy";      // Susy

//
// SUSY
//
/* Changing Susy default global settings */
$susy: (
  /* Tells Susy to use 12 columns */
  columns: 12,
  /* Tells Susy that the container has a max-width of 1120px */
  container: 1120px,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box
  );

/* Makes border-box properties */
@include border-box-sizing;


.page {
  @include container;
  // Mobile styles

  // Desktop styles

}


body{
  font-family: "Helvetica";
  text-align: center;
  padding: 50px 20px 0;
  background: #3c3c3c;
  color: #f4f4f7;
  margin: 0;
}

h1{
  font-size: 65px;
  line-height: 1.2em;
  //border-bottom: #CCC solid 1px;
  padding: 20px 0;
}

h3{
  font-weight: 300;
}

a{
  color: #EA5455;
  text-decoration: none;
}
